body {
  padding: 0px;
  font: 16px Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#logo {
  height: 50px;
  margin-top: -15px;
}

.food-autocomplete-result {
  padding: 5px;
  border-top: 1px dashed #666;
  cursor: pointer;
}

.food-autocomplete-result:first-child {
  border-top: none;
}

.food-autocomplete-result:hover {
  background-color: #ddd;
}

.track-left {
  background-color: #bbb;
  padding: 5px;
  height: 100%;
}

.track-right {
  background-color: #ddd;
  height: 100%;
}