body {
  padding: 0px;
  font: 16px Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#logo {
  height: 50px;
  margin-top: -15px;
}

.food-autocomplete-result {
  padding: 5px;
  border-top: 1px dashed #666;
  cursor: pointer;
}

.food-autocomplete-result:first-child {
  border-top: none;
}

.food-autocomplete-result:hover {
  background-color: #ddd;
}

.track-left {
  background-color: #bbb;
  padding: 5px;
  height: 100%;
}

.track-right {
  background-color: #ddd;
  height: 100%;
}

.dashboard-wrapper {
  margin: 10px;
  border: 1px solid #666;
}

.dashboard-blue {
  background-color: #BDFCFC;
  padding: 10px;
  text-align: center;
}

.dashboard-pink {
  background-color: #FFBAF2;
  padding: 10px;
  text-align: center;
}

.day-food-item {
  padding: 5px;
  border-bottom: 1px dashed #666;
  font-size: 16px;
}

.day-food-item input {
  width: 40px;
}

.track-save-button {
  background-color: #FFBAF2;
}